    /*------------------------ Navigation*/
    /*------------------------ MJM  logo*/
    
    .logo {
        height: 4em;
        margin-left: $main-margin;
        z-index: 10;
        &:hover {
            @include transform(scale(1.2));
        }
        // ---------------------- Media queries
        @include breakpoint(medium) {
            height: 5rem;
        }
    }
    /*------------------------- Mobile Navigation */
    /*------------------------- Hamburger icon */
    
    #menu {
        height: 5.5em;
        width: 4em;
        position: fixed;
        top: 0.5em;
        right: $main-margin;
        cursor: pointer;
        /* z-index 11 to alwaus stay on top*/
        z-index: 11;
        // ---------------------- Media queries
        @include breakpoint(medium) {
            height: 6em;
            width: 4.5em;
            top: -0.5em;
        }
        @include breakpoint(large) {
            visibility: hidden;
        }
    }
    /*------------------------ Mobile Navigation that shows as a full-screen overlay with js-function */
    
    .overlay {
        @include flexbox;
        @include justify-content(center);
        height: 100%;
        width: 0;
        position: fixed;
        right: 0;
        top: $main-margin;
        background: $red;
        overflow-x: hidden;
        padding-top: $gutter *2;
        z-index: 10;
        @include transform(skew(-15deg));
        @include transition(0.5s);
    }
    
    .overlay-content {
        @include flex-center;
        @include flex-direction(column);
        margin-top: $main-margin * 1.5;
        @include transform(skew(15deg));
    }
    
    .overlay a {
        padding: $gutter /2;
        color: white;
        @include heading-4;
        transition: 0.5s;
        // ---------------------- Media queries
        @include breakpoint(medium) {
            @include heading-3;
        }
    }
    
    .overlay a:hover,
    .overlay a:focus {
        color: $light-gray;
    }
    
    .arrow-nav {
        height: 1.5em;
        margin: 1em;
    }
    /*------------------------ Primary navigation in header for min-width 900px*/
    
    .header_nav {
        @include flexbox;
        @include justify-content(flex-end);
        @include heading-4;
        visibility: hidden;
        width: 100%;
        // ---------------------- Media queries
        @include breakpoint(large) {
            visibility: visible;
        }
    }
    
    .nav_link {
        margin-right: $main-margin * 2;
        &:last-child {
            margin-right: $main-margin;
        }
    }
    
    .header_nav a {
        color: $light-green;
    }
    
    .header_nav a:hover,
    .header_nav a:focus {
        color: white;
    }
    /*------------------------ Animation for background when page is scrolled */
    
    @include keyframe (head-fade) {
        from {
            opacity: 0.5;
        }
        to {
            opacity: 1;
        }
    }
    
    .nav_background {
        @include breakpoint(large) {
            background: $dark-gray;
            @include animation(head-fade, 0.5s, forwards, 1);
        }
    }