/*------------------------Media queries*/


//LADNING PAGE RESPONSIVENESS ----------------
@media screen and (min-width: 360px) {
    .container-hero {
        height: 23em;
        width: 23em;


    }
    .profile-text {
        max-width: 80%;
        left: -25%;
        top: 32%;


    }
    .profile-name {

        left: -10%;
        top: 2%;


    }
    .ghicon {
      bottom:14.5rem;
    }
}

@media screen and (min-width: 29em) {
    .container-hero {
        height: 30em;
        width: 30em;
        &:hover {}
    }
    .flex-hero {
        height: 20%;
    }
    .hero-text-container {}
    .hover-figure {
        &:hover {
            height: 8em;
            width: 8em;
            background: $light-gray;
            color: black;
            //@include transform(rotate(-25deg) translate(-50%,-50%) );
        }
    }
    .figure {
        background: none;
        top: 35%;
        height: 8em;
        width: 8em;
        /*
    &:hover.is-active {

color:black;
      background: $light-gray;
      height: 8em;
      width: 8em;
      z-index: 30;


    }    */
        &:first-child {
            left: 20%;
        }
        &:last-child {
            left: 80%
        }
        &.is-active {
            height: 100%;
            width: 100%;
            left: 50%;
            &:hover {
                height: 100%;
                width: 100%;
                background: $red;
            }
        }
    }
    .filter {
        &:hover {}
        &.active {
            @include transform(translate(-80%, -50%));
            &:hover {}
        }
    }
    .ghicon {
        bottom: 6rem;
    }
    .profile-text {
        top: 33%;
        left: -10%;
        width: 72%;
        text-align: left;
        &.active {}
    }
    .profile-name {
        font-size: 200%;
        letter-spacing: 0.5em;
        text-align: left;
        top: 2%;
        left: -25%;
        word-break: normal;
    }
    .hero-h1 {
        font-size: 6em;
        &:hover {}
        &:first-child {}
    }
    //LANDING PAGE END ---------------------------
    /*

    .header_nav {
        visibility: hidden;
    }
    #menu {
        visibility: visible;
    }
    */
}

@media screen and (min-width: 44em) {
    //LADNING PAGE RESPONSIVENESS ----------------
    .container-hero {
        height: 30em;
        width: 30em;
        &:hover {}
    }
    .hero-text-container {}
    .figure {
        height: 6em;
        width: 6em;
        &.is-active {}
    }
    .profile-name {}
    .profile-text {
        &.active {}
    }
    //LANDING PAGE END ---------------------------
    .circle_rotate {
        flex-direction: row;
    }
}


/*
>>>>>>> master
  Base for other queries
  //LADNING PAGE RESPONSIVENESS ----------------
  .container-hero {
    &:hover{}
  }
  .hero-text-container{}
  .figure {

    &.is-active {}
  }
  .profile-name {}
  .profile-text {
    &.active{}
  }


  //LANDING PAGE END --------*/
