/*------------------------Media queries*/


//LADNING PAGE RESPONSIVENESS ----------------


@media screen and (min-width: 29em) {

    .ghicon {

    }
    .profile-text {

        &.active {}
    }
    .profile-name {

    }
    .hero-h1 {
        font-size: 6em;
        &:hover {}
        &:first-child {}
    }
    //LANDING PAGE END ---------------------------
    /*

    .header_nav {
        visibility: hidden;
    }
    #menu {
        visibility: visible;
    }
    */
}




/*
>>>>>>> master
  Base for other queries
  //LADNING PAGE RESPONSIVENESS ----------------
  .container-hero {
    &:hover{}
  }
  .hero-text-container{}
  .figure {

    &.is-active {}
  }
  .profile-name {}
  .profile-text {
    &.active{}
  }


  //LANDING PAGE END --------*/
