
//animation for about.
@include keyframe (fade) {
    from {
        opacity: 0;
        display: none;
        //flex-direction: row;
    }
    to {
        opacity: 1;
        display:flex;
        //flex-direction: column;
    }
}
@include keyframe (fade-out) {
    from {
        opacity: 1;
        display: flex;
        //flex-direction: row;
    }
    to {
        opacity: 0;
        display:none;
        //flex-direction: column;
    }
}
//section for work.
.work-box {
  position:relative;
  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-end);
  @include flex-direction(row);
  height:20rem;
  width: 180vw;
  background: $light-green;
  margin-top: $gutter * 7;
  @include transition(all 1.2s ease);
  @include transform(rotate(25deg) translate(-20%,0));
  text-align: left;

  &.is-active {
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(center);
    height:auto;
    margin:0 0 10em 0;
    @include transform(translate(0, 10%));

  }
  //queries
  @include breakpoint(small){
    @include transform(rotate(25deg) translate(-45%));
  };
  @include breakpoint(large){
    margin-top:$gutter * 12

  };
}

.work-article {
  @include transition(all 1s ease);
  width: 100vw;
  margin:0;
  opacity: 0;
  display: none;
  background:white;
  &.is-active {
    @include animation(fade, 1s, forwards, 1);
    opacity: 1;
    @include transition(all 1s ease);
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
  }
  @include breakpoint(medium){

  };
}

.work-p {
  display: inherit;
  opacity: inherit;
  width:80vw;
  @include transition(all 1s ease);
  @include breakpoint(small){
    max-width: 425px;
  };
  @include breakpoint(medium){
    max-width: 580px;
  };
  @include breakpoint(large){
    width: 780px;
  };
}


a {
   text-decoration: none;
}

#workfix {
     color:$dark-gray;
     &:hover {
       color: $light-gray;
     }
}
.work-h1 {
  color:$dark-gray;
  @include transform(rotate(-25deg));
  @include transition(all 1s ease);
  @include heading-2;
  margin: 0 2em 4em 0;
  cursor: pointer;
  &:hover {
    color: $light-gray;
  }

  &.is-active {
    //@include transition(all 1s ease);
    @include transform(rotate(0));
    margin:0;
    @include breakpoint(large){
      margin:1em;
    };
  }
}

.work-container {
    display: -webkit-flex;
               display: flex;
               -webkit-flex-direction: row;
               flex-direction: row;
               -webkit-align-items: center;
               align-items: center;

               flex-wrap: wrap;
               min-width: 320px;
               max-width: 1220px;

    @include transition(all 1s ease);
    @include breakpoint(small){
      max-width: 425px;
    };
    @include breakpoint(medium){
      max-width: 580px;
    };
    @include breakpoint(large){
      width: 780px;
    };
}



.work-h4 {
  text-align: left;
  line-height: 1em;
  margin: 0.7em 0 0.7em 0;
    color: $dark-gray;
}

.work-img {
      width: 100%;
      height: auto;
//queries
  @include breakpoint(medium){
    width:100%;
    height: auto;
  } ;
}
.bggreen{
background: $light-green;
}
.bgred{
background: $red;
}

.bggray{
background: $light-gray;
}
.bgyellow{
background: $yellow;
}
.flex-item {
    @include transition(all 1s ease);
    @include breakpoint(small){
      max-width: 425px;
    };
    @include breakpoint(medium){
      max-width: 580px;
    };
    @include breakpoint(large){
      width: 780px;
    };
       margin: 3px;
       padding: 5px 0 0 5px;
       }

.info-container{
           display: inline-block;
           vertical-align: top;
           padding: 0 0 0 5px;
           -moz-box-sizing: border-box;
           -webkit-box-sizing: border-box;
           box-sizing: border-box;
      p{
           padding: 0;
           margin: 0 0 10px;
       }
}
