//imports
@import "varmix";
@import "landing";
@import "nav";
@import "contact";
@import "about";
@import "work";

/* ---------------------- Preparing styles */

html,
body,
div,
header,
nav,
section,
footer,
aside,
article,
figure,
form {
    margin: 0;
    padding: 0;
}

// For browsers without HTML5 support
html,
nav,
main,
footer,
section {
    display: block;
}

// To prevent Safari from scale text in iphone
html {
    -webkit-text-size-adjust: 100%;
}


/*------------------------main content*/

noscript {
    background: $red;
    text-align: center;
    color: white;
    font-family: $text-face;
    padding: 2.5em;
    z-index: 1000;
}

.noscript-footer {
    padding: 0;
    background: $dark-gray;
}

.noscript-footer a {
    color: $light-green;
    font-size: 0.5em;
    margin-bottom: -$gutter;
    padding: -$gutter;
    &:hover {
        color: white;
    }
}


/* height to 100%, margin to 0% to create sticky footer */

html {
    height: 100%;
}

body {
    font-size: $text-size;
    width: 100%;
    /* min-height to 100% to create sticky footer for flexbox*/
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: $dark-gray;
    @include flexbox;
    @include flex-direction(column);
}


/*------------------------typography*/

h1 {
    @include heading-1;
}

h2 {
    @include heading-2;
}

h3 {
    @include heading-3;
}

h4 {
    @include heading-4;
}

h5 {
    @include heading-5;
}

h6 {
    @include heading-6;
}

p,
span {
    font-family: $text-face;
    font-size: $text-size;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

a,
label,
input[type=submit] {
    font-family: $heading-face;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}


/*------------------------ Wrapper for all content */

.wrapper {
    @include flexbox;
    /* flex-grow 1 to create sticky footer for flexbox*/
    @include flex-grow(1);
    @include flex-direction(column);
    @include align-items(center);
    width: 100%;
    max-width: 2560px;
    height: auto;
    table-layout: fixed;
    margin: 0 auto;
    background: $dark-gray;
    /*relative to set svg in top right corner with absolute positioning*/
    position: relative;
    /*hide overflow for divs that go outside the wrapper*/
    overflow: hidden;
}


/*------------------------- Fixed header*/

header {
    @include flexbox;
    @include align-self(center);
    width: 100%;
    z-index: 9;
    position: fixed;
    top: 0;
    right: 0;
    height: 6em;
    @include breakpoint(large) {
        padding-top: $gutter /2;
        padding-bottom: $gutter /2;
    }
}

.header {
    @include flexbox;
    @include justify-content(space-around);
    @include align-items(center);
    width: 80vw;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 9;
    // ---------------------- Media queries
    @include breakpoint(small) {
        width: 100vw;
    }
}


/*------------------------- Footer*/

.footer {
    @include flex-center;
    @include flex-direction(column);
    padding: $gutter;
    color: $light-gray;
    text-align: center;
    //---------------------- Media queries
    @include breakpoint(large) {
        // font-size: $text-size;
        @include heading-4;
    }
}

.footer h6 {
    margin: $gutter /2;
}

.link {
    color: $light-gray;
    &:hover {
        color: white;
    }
}


/*------------------------- Divs for anchor points*/

#about {
    position: absolute;
    visibility: hidden;
    top: 0%;
    right: 50em;
}

#work {
    position: absolute;
    visibility: hidden;
    top: -20%;
    right: 50em;
}